<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyaway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightInsert</display-name>
    <servlet-name>FlightInsert</servlet-name>
    <servlet-class>com.flightbooking.servlets.FlightInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightInsert</servlet-name>
    <url-pattern>/FlightInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.flightbooking.servlets.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfFlights</display-name>
    <servlet-name>ListOfFlights</servlet-name>
    <servlet-class>com.flightbooking.servlets.ListOfFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfFlights</servlet-name>
    <url-pattern>/ListOfFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOfAdmin</display-name>
    <servlet-name>LoginOfAdmin</servlet-name>
    <servlet-class>com.flightbooking.servlets.LoginOfAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOfAdmin</servlet-name>
    <url-pattern>/LoginOfAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOfUser</display-name>
    <servlet-name>LoginOfUser</servlet-name>
    <servlet-class>com.flightbooking.servlets.LoginOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOfUser</servlet-name>
    <url-pattern>/LoginOfUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.flightbooking.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationOfUser</display-name>
    <servlet-name>RegistrationOfUser</servlet-name>
    <servlet-class>com.flightbooking.servlets.RegistrationOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationOfUser</servlet-name>
    <url-pattern>/RegistrationOfUser</url-pattern>
  </servlet-mapping>
</web-app>